*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background: #001e4d;
}

#production{
    color: lightgray;
    text-align: center;
    margin-top: 50px;
}

.app{
    background-color: #fff;
    width: 90%;
    max-width: 600px;
    margin: 80px auto 0;
    border-radius: 10px;
    padding: 30px;
}

.app h1{
    font-size: 25px;
    color: #001e4d;
    font-weight: 600;
    border-bottom: 1px solid #333;
    padding-bottom: 20px;
}

.quiz{
    padding: 20px 0;
}

.quiz h2{
    font-size: 18px;
    color: #001e4d;
    font-weight: 600;
}

.btn, .cat{
    background-color: #fff;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
}

.selected-category {
    background-color: #666;
    color: #fff;
}

.cat:hover{
    background-color: #222;
    color: #fff;
}

.btn:hover:not([disabled]){
    background-color: #222;
    color: #fff;
}

.btn:disabled{ /*when the user chooses an answer*/
    cursor: default;
}

#next-btn, #start-btn{
    background-color: #001e4d;
    color: #fff;
    font-weight: 500;
    width: 100px;
    border: 0;
    padding: 10px;
    margin: 30px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    text-align: center;
    /* position: center; */
}

.incorrect{
    background-color: lightcoral;
}

.correct{
    background-color: lightgreen;
}

#question{
    margin-top: 8px;
}